
<div class="footer-area">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-6">
				<div class="footer-box about-widget">
					<h2 class="widget-title">About us</h2>
					<p>
            Welcome to Numbat Musical Enterprises (NME), Perth’s premier destination for musical instruments. With flagship stores in Joondalup and Rockingham, and a central warehouse, we proudly offer top brands like Fender, Gibson, and Yamaha for musicians of all levels.
            At NME, we make music accessible with flexible payment options, a rewarding loyalty program, and personalized service. Whether you’re a hobbyist or a professional, we’re here to inspire your musical journey.
            Your music. Your passion. Our commitment.
            Let me know if you'd like further refinements! 🎸✨
          </p>
        </div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="footer-box get-in-touch">
					<h2 class="widget-title">Get in Touch</h2>
					<ul>
						<li>34/8, Amour Street, Colombo.</li>
						<li>contactus&#64;numbatmusicalenterprises.com</li>
						<li>+94 77 4 477 984</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
